<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>788160267351-5594tjv3ejku50po3j203lpuhl1hq8vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788160267351-5594tjv3ejku50po3j203lpuhl1hq8vg</string>
	<key>API_KEY</key>
	<string>AIzaSyCRgcima-7P_al3QHGGuMZXSMuzR10TOho</string>
	<key>GCM_SENDER_ID</key>
	<string>788160267351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pritesh.instaTrail</string>
	<key>PROJECT_ID</key>
	<string>instatrail-23057</string>
	<key>STORAGE_BUCKET</key>
	<string>instatrail-23057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:788160267351:ios:b079fbdd27df1b46</string>
	<key>DATABASE_URL</key>
	<string>https://instatrail-23057.firebaseio.com</string>
</dict>
</plist>